	<div id="panel-joueur">
		<div class="form-group row">
	    <label for="nomJoueur"  class="col-sm-2 col-form-label">Nom</label>
			<div class="col-sm-10">
	    <input type="text" name="nomJoueur" class="form-control" id="nomJoueur" aria-describedby="emailHelp" placeholder="Enter un nom">
		</div>
	  </div>
		<div class="form-group row">
			<label for="prenomJoueur" class="col-sm-2 col-form-label">Prenom</label>
			<div class="col-sm-10">
	    <input type="date" name="prenomJoueur" class="form-control" id="prenomJoueur" aria-describedby="emailHelp" placeholder="Enter un prenom">
		</div>
		</div>
		<div class="form-group row">
	    <label for="telPortableJoueur" class="col-sm-2 col-form-label">N° portable</label>
			<div class="col-sm-10">
	    <input type="text" name="telPortableJoueur" class="form-control" id="telPortableJoueur" aria-describedby="emailHelp" placeholder="Entrer un numéro de téléphone portable">
		</div>
		</div>
		<div class="form-group row">
	    <label for="telFixeJoueur" class="col-sm-2 col-form-label">N° fixe</label>
			<div class="col-sm-10">
	    <input type="text" name="telFixeJoueur" class="form-control" id="telFixeJoueur" aria-describedby="emailHelp" placeholder="Entrer un numéro de fixe">
		</div>
	  </div>
		<div class="form-group row">
	    <label for="adresseJoueur" class="col-sm-2 col-form-label">Adresse</label>
			<div class="col-sm-10">
	    <input type="text" name="adresseJoueur" class="form-control" id="adresseJoueur" aria-describedby="emailHelp" placeholder="Entrer l'adresse">
		</div>
	  </div>
		<div class="form-group row">
	    <label for="villeJoueur" class="col-sm-2 col-form-label">Ville</label>
				<div class="col-sm-10">
	    <input type="text" name="villeJoueur" class="form-control" id="villeJoueur" aria-describedby="emailHelp" placeholder="Entrer la ville">
		</div>
	  </div>
		<div class="form-group row">
	    <label for="cpJoueur" class="col-sm-2 col-form-label">Code postal</label>
			<div class="col-sm-10">
	    <input type="text" name="cpJoueur" class="form-control" id="cpJoueur" aria-describedby="emailHelp" placeholder="Entrer le code postal">
		</div>
	  </div>
		<div class="form-group row">
			<label for="mail1Joueur" class="col-sm-2 col-form-label">Mail n°1</label>
				<div class="col-sm-10">
			<input type="text" name="mail1Joueur" class="form-control" id="mail1Joueur" aria-describedby="emailHelp" placeholder="Entrer le mail n°1">
		</div>
		</div>
		<div class="form-group row">
			<label for="mail2Joueur" class="col-sm-2 col-form-label">Mail n°2</label>
				<div class="col-sm-10">
			<input type="text" name="mail2Joueur" class="form-control" id="mail2Joueur" aria-describedby="emailHelp" placeholder="Entrer le mail n°2">
		</div>
		</div>
		<button id="nextfromjoueur" class="btn btn-primary">Suivant<i class="fa fa-arrow-circle-right"></i></button>
	</div>

	<div class="hidden-md-up" id="panel-parents">
		<div class="form-group row">
			<div class="col-sm-2 col-form-label"></div>
			<div class="col-sm-5">
				<h2>Mere</h2>
			</div>
			<div class="col-sm-5">
				<h2>Pere</h2>
			</div>
		</div>
		<div class="form-group row">
			<label for="nomParents"  class="col-sm-2 col-form-label">Nom</label>
			<div class="col-sm-5">
				<input type="text" name="nomMere" class="form-control" id="nomMere" aria-describedby="emailHelp" placeholder="Nom mere">
			</div>
			<div class="col-sm-5">
				<input type="text" name="nomPere" class="form-control" id="nomPere" aria-describedby="emailHelp" placeholder="Nom Pere">
			</div>
		</div>
		<div class="form-group row">
			<label for="prenomParents"  class="col-sm-2 col-form-label">Prenom</label>
			<div class="col-sm-5">
				<input type="text" name="prenomMere" class="form-control" id="prenomMere" aria-describedby="emailHelp" placeholder="Prenom mere">
			</div>
			<div class="col-sm-5">
				<input type="text" name="prenomPere" class="form-control" id="prenomPere" aria-describedby="emailHelp" placeholder="Prenom Pere">
			</div>
		</div>
		<div class="form-group row">
			<label for="telPortableParents"  class="col-sm-2 col-form-label">N° portable</label>
			<div class="col-sm-5">
				<input type="text" name="telPortableMere" class="form-control" id="telPortableMere" aria-describedby="emailHelp" placeholder="Tel portable mere">
			</div>
			<div class="col-sm-5">
				<input type="text" name="telPortablePere" class="form-control" id="telPortablePere" aria-describedby="emailHelp" placeholder="Tel portable Pere">
			</div>
		</div>
		<div class="form-group row">
			<label for="telFixeParents"  class="col-sm-2 col-form-label">N° fixe</label>
			<div class="col-sm-5">
				<input type="text" name="telFixeMere" class="form-control" id="telFixeMere" aria-describedby="emailHelp" placeholder="Tel fixe mere">
			</div>
			<div class="col-sm-5">
				<input type="text" name="telFixePere" class="form-control" id="telFixePere" aria-describedby="emailHelp" placeholder="Tel fixe Pere">
			</div>
		</div>
		<div class="form-group row">
			<label for="adresseParents"  class="col-sm-2 col-form-label">Adresse</label>
			<div class="col-sm-5">
				<input type="text" name="adresseMere" class="form-control" id="adresseMere" aria-describedby="emailHelp" placeholder="Adresse mere">
			</div>
			<div class="col-sm-5">
				<input type="text" name="adressePere" class="form-control" id="adressePere" aria-describedby="emailHelp" placeholder="Adresse pere">
			</div>
		</div>
		<div class="form-group row">
			<label for="villeParents"  class="col-sm-2 col-form-label">Ville</label>
			<div class="col-sm-5">
				<input type="text" name="villeMere" class="form-control" id="villeMere" aria-describedby="emailHelp" placeholder="Ville mere">
			</div>
			<div class="col-sm-5">
				<input type="text" name="villePere" class="form-control" id="villePere" aria-describedby="emailHelp" placeholder="Ville pere">
			</div>
		</div>
		<div class="form-group row">
			<label for="cpParents"  class="col-sm-2 col-form-label">Code postal</label>
			<div class="col-sm-5">
				<input type="text" name="cpMere" class="form-control" id="cpMere" aria-describedby="emailHelp" placeholder="Cp mere">
			</div>
			<div class="col-sm-5">
				<input type="text" name="cpPere" class="form-control" id="cpPere" aria-describedby="emailHelp" placeholder="Cp pere">
			</div>
		</div>
		<button id="returntojoueur" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i>Retour</button><button id="nextfromparents" class="btn btn-primary">Suivant<i class="fa fa-arrow-circle-right"></i></button>
	</div>

	<div id="panel-finance" class="hidden-md-up">
		<div class="form-group row">
			<label for="noteFinance" class="col-sm-2 col-form-label">Note financière</label>
				<div class="col-sm-10">
			<input type="text" name="noteFinance" class="form-control" id="noteFinance" aria-describedby="emailHelp" placeholder="Note financière">
		</div>
		</div>
		<div class="form-group row">
			<label for="sommeApayer" class="col-sm-2 col-form-label">Somme à payer</label>
				<div class="col-sm-10">
				<input type="text" name="sommeApayer" class="form-control" id="sommeApayer" aria-describedby="emailHelp" placeholder="Somme à payer">
		</div>
		</div>
		<div class="form-group row">
			<label for="sommePayer" class="col-sm-2 col-form-label">Somme déjà payé</label>
				<div class="col-sm-10">
				<input type="text" name="sommePayer" class="form-control" id="sommePayer" aria-describedby="emailHelp" placeholder="Somme déjà payé">
		</div>
		</div>
		<div class="form-group row">
			<label for="numChequeFinancier" class="col-sm-2 col-form-label">Numéro de chèque</label>
				<div class="col-sm-10">
			<input type="text" name="numChequeFinancier" class="form-control" id="numChequeFinancier" aria-describedby="emailHelp" placeholder="Numéro de chèque">
		</div>
		</div>
		<div class="form-group row">
			<label for="demandeAttFinancier" class="col-sm-2 col-form-label">Demande attestation</label>
				<div class="col-sm-10">
			<input type="checkbox" name="demandeAttFinancier" class="form-control" id="demandeAttFinancier" aria-describedby="emailHelp">
		</div>
		</div>
		<div class="form-group row">
			<label for="demandeDeCoFinancier" class="col-sm-2 col-form-label">Cotisation</label>
				<div class="col-sm-10">
			<input type="checkbox" name="demandeDeCoFinancier" class="form-control" id="demandeDeCoFinancier" aria-describedby="emailHelp">
		</div>
		</div>
		<div class="form-group row">
			<label for="depotBanqueFinancier" class="col-sm-2 col-form-label">Depot banque</label>
				<div class="col-sm-10">
			<input type="checkbox" name="depotBanqueFinancier" class="form-control" id="depotBanqueFinancier" aria-describedby="emailHelp">
		</div>
		</div>
		<button id="returntoparents" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i>Retour</button><button id="nextfromfinance" class="btn btn-primary">Suivant<i class="fa fa-arrow-circle-right"></i></button>
	</div>

	<div id="panel-licence" class="hidden-md-up">
		<div class="form-group row">
			<label for="notesLicence" class="col-sm-2 col-form-label">Note sur la licence</label>
				<div class="col-sm-10">
				<input type="text" name="notesLicence" class="form-control" id="notesLicence" aria-describedby="emailHelp" placeholder="Note à propos de a licence">
		</div>
		</div>
		<div class="form-group row">
			<label for="dateLicence" class="col-sm-2 col-form-label">Date d'inscription</label>
				<div class="col-sm-10">
				<input type="date" name="dateLicene" class="form-control" id="dateLicence" aria-describedby="emailHelp" placeholder="Date d'incription">
		</div>
		</div>
		<div class="form-group row">
			<label for="catLicence" class="col-sm-2 col-form-label">Catégorie</label>
				<div class="col-sm-10">
					<select name="catLicence" id="catLicence">
						<option value="joueur libre">Joueur Libre</option>
						<option value="joueur futsal">Joueur Futsal</option>
						<option value="joueur entreprise">Joueur Entreprise</option>
						<option value="joueur loisir">Joueur Loisir</option>
					</select>
		</div>
		</div>
		<div class="form-group row">
			<label for="dirigeanLicence" class="col-sm-2 col-form-label">Dirigeant</label>
				<div class="col-sm-10">
				<input type="text" name="dirigeanLicence" class="form-control" id="dirigeanLicence" aria-describedby="emailHelp" placeholder="Dirigeant">
		</div>
		</div>
		<div class="form-group row">
			<label for="licenceDisctrictDispoLicence" class="col-sm-2 col-form-label">Licence disponible</label>
				<div class="col-sm-10">
				<input type="text" name="newLetterLicence" class="form-control" id="licenceDisctrictDispoLicence" aria-describedby="emailHelp"  placeholder="Nb de district disponible">
		</div>
		</div>
		<div class="form-group row">
			<label for="newLetterLicence" class="col-sm-2 col-form-label">Inscrit à la newletter ?</label>
				<div class="col-sm-10">
				<input type="checkbox" name="newLetterLicence" class="form-control" id="newLetterLicence" aria-describedby="emailHelp">
		</div>
		</div>
		<div class="form-group row">
			<label for="formationlicence" class="col-sm-2 col-form-label">Formation ?</label>
				<div class="col-sm-10">
				<input type="checkbox" name="formationlicence" class="form-control" id="formationlicence" aria-describedby="emailHelp">
		</div>
		</div>
		<div class="form-group row">
			<label for="renouvLicence" class="col-sm-2 col-form-label">Renouveler ?</label>
				<div class="col-sm-10">
				<input type="checkbox" name="renouvLicence" class="form-control" id="renouvLicence" aria-describedby="emailHelp">
		</div>
		</div>

		<button id="returntofinance" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i>Retour</button><button id="valider" class="btn btn-success">Valider</button>
	</div>


	<script>
		$(document).ready(function() {

			$('#nextfromjoueur').on('click', function() {
				$('#panel-joueur').addClass('hidden-md-up');
				$('#panel-parents').removeClass('hidden-md-up');
			});

			$('#returntojoueur').on('click', function() {
				$('#panel-parents').addClass('hidden-md-up');
				$('#panel-joueur').removeClass('hidden-md-up');
			});

			$('#nextfromparents').on('click', function() {
				$('#panel-parents').addClass('hidden-md-up');
				$('#panel-finance').removeClass('hidden-md-up');
			});
		});

		$('#returntoparents').on('click', function(){
			$('#panel-finance').addClass('hidden-md-up');
			$('#panel-parents').removeClass('hidden-md-up');
		});

		$('#nextfromfinance').on('click', function() {
			$('#panel-finance').addClass('hidden-md-up');
			$('#panel-licence').removeClass('hidden-md-up');
		});

		$('#returntofinance').on('click', function() {
			$('#panel-licence').addClass('hidden-md-up');
			$('#panel-finance').removeClass('hidden-md-up');
		});

		$('#valider').on('click', function(event) {
			event.preventDefault();

			var demandeAttFinancier = null;
			var demandeDeCoFinancier = null;
			var depotBanqueFinancier = null;
			var newLetterLicence = null;
			var formationlicence = null;
			var renouvLicence = null;

			if($('#demandeAttFinancier:checked').is(':checked') == true)
			{
				demandeAttFinancier = "oui";
			} else {
				demandeAttFinancier = "non";
			}

			if($('#demandeDeCoFinancier:checked').is(':checked') == true) {
				demandeDeCoFinancier = "oui";
			} else {
				demandeDeCoFinancier = "non";
			}

			if($('#depotBanqueFinancier:checked').is(':checked')==true) {
				depotBanqueFinancier = "oui";
			} else {
				depotBanqueFinancier = "non";
			}

			if($('#newLetterLicence:checked').is(':checked') == true) {
				newLetterLicence = "oui";
			} else {
				newLetterLicence = "non";
			}

			if($('#formationlicence:checked').is(':checked') == true) {
				formationlicence = "oui";
			} else {
				formationlicence = "non";
			}

			if($('#renouvLicence:checked').is(':checked') == true) {
				renouvLicence = "oui";
			}  else {
				renouvLicence = "non";
			}

			var licencier = {
				//joueur
				"nomJoueur":$('#nomJoueur').val(), "prenomJoueur":$('#prenomJoueur').val(), "telPortableJoueur":$('#telPortableJoueur').val(),
				"telFixeJoueur":$('#telFixeJoueur').val(), "adresseJoueur":$('#adresseJoueur').val(), "villeJoueur":$('#villeJoueur').val(),
				"cpJoueur":$('#cpJoueur').val(), "mail1Joueur":$('#mail1Joueur').val(), "mail2Joueur":$('#mail2Joueur').val(),
				//parents
				"nomMere":$('#nomMere').val(), "nomPere":$('#nomPere').val(), "prenomMere":$('#prenomMere').val(), "prenomPere":$('#prenomPere').val(),
				"telPortableMere":$('#telPortableMere').val(), "telPortablePere":$('#telPortablePere').val(),
				"telFixeMere":$('#telFixeMere').val(), "telFixePere":$('#telFixePere').val(), "adresseMere":$('#adresseMere').val(),
				"adressePere":$('#adressePere').val(), "villeMere":$('#villeMere').val(), "villePere":$('#villePere').val(),
				"cpMere":$('#cpMere').val(), "cpPere":$('#cpPere').val(),
				//finance
				"sommeApayer":$('#sommeApayer').val(), "sommePayer":$('#sommePayer').val(),
				"noteFinance":$('#noteFinance').val(), "numChequeFinancier":$('#numChequeFinancier').val(),
				"demandeAttFinancier":demandeAttFinancier, "demandeDeCoFinancier":demandeDeCoFinancier, "depotBanqueFinancier":depotBanqueFinancier,
				//licence
				"notesLicence":$('#notesLicence').val(), "dateLicence":$('#dateLicence').val(), "catLicence":$('#catLicence').val(),
				"dirigeanLicence":$('#dirigeanLicence').val(), "licenceDisctrictDispoLicence":$('#licenceDisctrictDispoLicence').val(),
				"newLetterLicence":newLetterLicence, "formationlicence":formationlicence, "renouvLicence":renouvLicence

			}
			$.ajax({
				type: 'POST',
				url: 'http://localhost/PhpServer/controller/licencier/add',
				contentType: 'application/json; charset=utf8',
				data: JSON.stringify(licencier),
				traditional: true,
				success: function(data){
					alert(data);
				}
			});

		});
	</script>
