    <select name="saisons" id="saisons"></select>
    <div id="loading" class="hidden-md-up"></div>
    <table id="documents_table" class="table table-hover hidden-md-up">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Mail</th>
          <th>Parents</th>
          <th>Licence</th>
          <th>Finance</th>
          <th>Supression</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>bouh!</td>
          <td>salut</td>
          <td>hola !</td>
          <td>bonchoir</td>
          <td>nooon</td>
          <td>sisi</td>
          <td>sisi</td>
        </tr>
      </tbody>
    </table>


    <script type="text/javascript">
    var table = $('#documents_table');
    $(document).ready(function(){
      //function ajax qui selectionne toutes les saisons et selectionne la dernière par défault
      $.ajax({
        type: 'GET',
        url: "http://localhost/PhpServer/controller/saisons",
        traditional: true,
        success: function(data){
          data = JSON.parse(data);
          for (var i = 0; i < data.length; i++)
          {
            if(i !== data.length - 1)
            {
              $('#saisons').append('<option value="'+data[i].id_saison+'">'+data[i].annee_saison+'</option>');
            }
            else
            { //dernière valeur : on lance la fonction ajax qui va prendre la listes des joueurs en fonction de la saison
              //Pourquoi la dernière valeur ? car on ne veut pas la liste de joueur d'une saison passé, mais celle qui est présente
              ajaxCall(data[i].id_saison);
              $('#saisons').append('<option value="'+data[i].id_saison+'" selected="selected">'+data[i].annee_saison+'</option>');
            }
          }
        }
      });

      //initialisation des options de datatable
      $('#documents_table').DataTable({
          "info":true,
          "paging": true,
          "searching": true,
          "pageLength": 25,
          "lengthChange": false
        });
      });

    //fonction ajax qui selectionne un joueur par rapport à ça saison
    function ajaxCall(idsaison){
      $.ajax({
        type: 'GET',
        url: "http://localhost/PhpServer/controller/joueurs/"+idsaison,
        traditional: true,
        //avant le sucess, un petit loading tout zolie
        beforeSend: function() {
          $('#loading').removeClass('hidden-md-up');
          $('#loading').html('<p class="text-center" id="load"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>');
        },
        success: function(data){
          $('#loading').addClass('hidden-md-up');
          $('#documents_table').removeClass('hidden-md-up');
          //clear de la table de valeurs précèdente
          table.DataTable().clear();
          data = JSON.parse(data);
          for (var x = 0; x < data.length; x++) {
            paiementComplet(data[x].id_joueur);
            table.DataTable().row.add([
              "<button class='btn btn-outline-info btn-sm' id='more' value="+data[x].id_personne+"><i class='fa fa-plus' aria-hidden='true'></i> info</button> "+data[x].nom_personne,
              data[x].prenom_personne,
              data[x].mail1_joueur,
              "<div parents="+ data[x].id_pere + "+" + data[x].id_mere + "><div id='parents'><button class='btn btn-outline-info btn-sm'><i class='fa fa-users' aria-hidden='true'></i> parents</button></div></div>",
              "<div value="+data[x].id_joueur +"><div id='licence'><button class='btn btn-outline-info btn-sm'><i class='fa fa-id-card-o' aria-hidden='true'></i> Licence</button></div></div>",
              "<div finance="+data[x].id_joueur +"><div id='finance'><button id='btn-finance-"+data[x].id_joueur+"' class='btn btn-sm'><i class='fa fa-eur' aria-hidden='true'></i> Finance</button></div></div>",
              "<div supp="+ data[x].id_joueur + "+" + data[x].id_personne + "+" + data[x].id_payement + "+" + data[x].id_etatFinancier + "+" +data[x].id_licence + "><div id='supp'><button class='btn btn-outline-info btn-sm'><i class='fa fa-times-circle aria-hidden='true'></i> Supprimer</button></div></div>"
            ]).draw();
          }
        }
      });
    }

    // fonction qui change la couleur du bouton en fonction de l'état du payement
    function paiementComplet(idJoueur){
       $.ajax({
        type: 'GET',
        url: "http://localhost/PhpServer/controller/"+idJoueur+"/paiement_complet",
        traditional: true,
        success: function(data){
          try {
            data = JSON.parse(data);
          } catch(e) {
            alert("FAIL")
            alert(e); // error in the above string (in this case, yes)!
          }
          if(data[0].paiementComplet_payement==1){
            $('#btn-finance-'+idJoueur).addClass("btn-outline-info");
          }
          else {
            $('#btn-finance-'+idJoueur).addClass("btn-outline-warning");

          }
        }
      });
    }

    //event par rapport aux saisons, dès un changement de valeur, il y a un nouveau call d'ajax avec la liste de jour de la saison selectionner
    $('body').on('change', '#saisons', function() {
      ajaxCall($(this).val());
    });

    //event pour le bouton info supp du joueur récupère l'id de la personne joueur et le stock dans localStorage
    $('body').on('click', '#more', function() {
      var idPersonneJoueur = $(this).attr('value');
      localStorage.setItem("idPersonneJoueur", idPersonneJoueur);
      window.location.href="http://localhost/PhpClient/info_joueur.php";
    });

    //event pour le bouton parents récupère l'id du père et de la mère et les stock dans localStorage
    $('body').on('click', '#parents', function() {
      var idparents = $(this).parent().attr('parents');
      localStorage.setItem("idparents",idparents);
      window.location.href = "http://localhost/PhpClient/info_parents.php";
    });

    //event pour le bouton licence
    $('body').on('click','#licence',function(){
     var idLicence = $(this).parent().attr('value');
     localStorage.setItem("idLicence",idLicence);
     window.location.href="http://localhost/PhpClient/view/licence.html";
    });

    //event pour le bouton finance et récupère l'id du joueur et le stock dans localStorage
    $('body').on('click', '#finance', function(){
      var idJoueur = $(this).parent().attr('finance');
      localStorage.setItem("finance", idJoueur);
      window.location.href="http://localhost/PhpClient/view/finance.html";
    });

    //event pour le bouton supprimer
    $('body').on('click',"#supp",function(){
      var idsJoueur = $(this).parentt().attr('supp');
      $.ajax({
      type:'POST',
      url: "http://localhost/PhpServer/controller/licencier/supp/" + idsJoueur,
      traditional: true,
      success:function(data){
        alert(data);
        }
      });
    });
  </script>
