<div id="idPersonneJoueur" class="hidden-md-up"></div>
<div id="idJoueur" class="hidden-md-up"></div>
<div>
  <input value="text" id="nomJoueur">
</div>
<div>
  <input value="text" id="prenomJoueur">
</div>
<div>
  <input value="text" id="telPortableJoueur">
</div>
<div>
  <input value="text" id="telFixeJoueur">
</div>
<div>
  <input value="text" id="adresseJoueur">
</div>
<div>
  <input value="text" id="villeJoueur">
</div>
<div>
  <input value="text" id="cpJoueur">
</div>
<div>
  <input value="text" id="mail1Joueur">
</div>
<div>
  <input value="text" id="mail2Joueur">
</div>
<button id="retour" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i>Retour</button><button id="modif">Modifier</div>

  <script>
  $(document).ready(function() {
    var idPersonneJoueur = localStorage.getItem("idPersonneJoueur");
    $('#nom_joueur').html(idPersonneJoueur);
    $.ajax({
      type: 'GET',
      url: "http://localhost/PhpServer/controller/joueur/info/" + idPersonneJoueur,
      traditional: true,
      success: function(data){
        data = JSON.parse(data);

        //les ids de joueur et personne
        $('#idPersonneJoueur').html(data[0].id_personne);
        $('#idJoueur').html(data[0].id_joueur);

        //les données de joueur et personne
        $('#nomJoueur').val(data[0].nom_personne);
        $('#prenomJoueur').val(data[0].prenom_personne);
        $('#telPortableJoueur').val(data[0].telPortable_personne);
        $('#telFixeJoueur').val(data[0].telFixe_personne);
        $('#adresseJoueur').val(data[0].adresse_personne);
        $('#villeJoueur').val(data[0].ville_personne);
        $('#cpJoueur').val(data[0].codePostale_personne);
        $('#mail1Joueur').val(data[1].mail1_joueur);
        $('#mail2Joueur').val(data[1].mail2_joueur);

      }
    });

    $('#modif').on('click', function() {
      joueur = {
        "idPersonneJoueur":$('#idPersonneJoueur').text(), "idJoueur":$('#idJoueur').text(),
        "nomJoueur":$('#nomJoueur').val(), "prenomJoueur":$('#prenomJoueur').val(),
        "telPortableJoueur":$('#telPortableJoueur').val(), "telFixeJoueur":$('#telFixeJoueur').val(),
        "adresseJoueur":$('#adresseJoueur').val(), "villeJoueur":$('#villeJoueur').val(),
        "cpJoueur":$('#cpJoueur').val(), "mail1Joueur":$('#mail1Joueur').val(),
        "mail2Joueur":$('#mail2Joueur').val()
      }

      $.ajax({
        type: 'POST',
        url: 'http://localhost/PhpServer/controller/joueur/modif',
        contentType: 'application/json; charset=utf8',
        data: JSON.stringify(joueur),
        traditional: true,
        success: function(data){
          alert(data);
        }
      });
    });

    $('#retour').on('click', function() {
      window.location.href="http://localhost/PhpClient/licences.php";
    });
  });
  </script>
