<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-3">Connexion</h1>
		<p class="lead">Rentrez vos informations dans les champs ci dessous.</p>
		<div class="form-group row">
			<label for="login"  class="col-sm-2 col-form-label">Login</label>
			<div class="col-sm-10">
				<input type="text" id="login" name="login" class="form-control"  aria-describedby="emailHelp" placeholder="Identifiant ou email">
			</div>
		</div>
		<div class="form-group row">
			<label for="exampleInputEmail1"  class="col-sm-2 col-form-label">Mot de Passe</label>
			<div class="col-sm-10">
				<input type="password" id="password" name="pass" class="form-control"  aria-describedby="emailHelp" placeholder="Mot de passe">
			</div>
		</div>
		<button id="connection" class="btn btn-success">Connexion</button>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('#connection').click(function(){
		ajaxCall();
	});

	function ajaxCall(){
		user = {
			"login":$('#login').val(), "password":$('#password').val()
		}
		$.ajax({
			type: "POST",
			url: "http://localhost/PhpServer/controller/utilisateur/connection",
			contentType: 'application/json; charset=utf8',
			data: JSON.stringify(user),
			traditional: true,
			success: function(data){
				var dataString = "data="+data;
				$.ajax({
					type: "POST",
					url: "http://localhost/PhpClient/droits.php",
					data: dataString,
					success: function(data){
						if(data == "good")
						{
							window.location.href = "http://localhost/PhpClient/";
						} else {
							alert('Mauvais identifiant/mot de passe');
						}
					}
				});
			}
		});
	}

});
</script>
<div id="result"></div>
