
<div class="container">
  <div id="pannel-parents-1" class="row">
    <div class="hidden-md-up"><input id="idPersonnePere"></div>
    <div class="hidden-md-up"><input id="idPersonneMere"></div>
    <div class="col-xs-6">
      <h2>Pere</h2>
      <div>
        <input value="text" id="nomPere">
      </div>
      <div>
        <input value="text" id="prenomPere">
      </div>
      <div>
        <input value="text" id="telPortablePere">
      </div>
      <div>
        <input value="text" id="telFixePere">
      </div>
      <div>
        <input value="text" id="addrPere">
      </div>
      <div>
        <input value="text" id="villePere">
      </div>
      <div>
        <input value="text" id="codePostalePere">
      </div>
    </div>

    <div class="col-xs-6">
      <h2>Mere</h2>
      <div>
        <input value="text" id="nomMere">
      </div>
      <div>
        <input value="text" id="prenomMere">
      </div>
      <div>
        <input value="text" id="telPortableMere">
      </div>
      <div>
        <input value="text" id ="telFixeMere">
      </div>
      <div>
        <input value="text" id="addrMere">
      </div>
      <div>
        <input value="text" id="villeMere">
      </div>
      <div>
        <input value="text" id="codePostaleMere">
      </div>
      <button id="retour" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i>Retour</button><button id="modif">Modifier</button>
    </div>
  </div>
</div>
  <script>
  $(document).ready(function(){
    var idparents = localStorage.getItem("idparents");
    var idPersonneJoueur = localStorage.getItem("idPersonneJoueur");
    $('#nom_joueur').html(idPersonneJoueur);
    $.ajax({
      type: 'GET',
      url: "http://localhost/PhpServer/controller/parents/" + idparents,
      traditional: true,
      success: function(data){
        var pere = data.substring(data.indexOf('pere') + 4, data.indexOf('mere'));
        var mere = data.substring(data.indexOf('mere') + 4);
        pere = JSON.parse(pere);
        mere = JSON.parse(mere);

        //Pere
        $('#idPersonnePere').val(pere[0].id_personne);
        $('#nomPere').val(pere[0].nom_personne);
        $('#prenomPere').val(pere[0].prenom_personne);
        $('#telPortablePere').val(pere[0].telPortable_personne);
        $('#telFixePere').val(pere[0].telFixe_personne);
        $('#addrPere').val(pere[0].adresse_personne);
        $('#villePere').val(pere[0].ville_personne);
        $('#codePostalePere').val(pere[0].codePostale_personne);

        //Mere
        $('#idPersonneMere').val(mere[0].id_personne);
        $('#nomMere').val(mere[0].nom_personne);
        $('#prenomMere').val(mere[0].prenom_personne);
        $('#telPortableMere').val(mere[0].telPortable_personne);
        $('#telFixeMere').val(mere[0].telFixe_personne);
        $('#addrMere').val(mere[0].adresse_personne);
        $('#villeMere').val(mere[0].ville_personne);
        $('#codePostaleMere').val(mere[0].codePostale_personne);
      }
    });
  });

  $('#modif').on('click', function(){
    var parents = {
      //pere
      "idPersonnePere":$('#idPersonnePere').val(), "nomPere":$('#nomPere').val(), "prenomPere":$('#prenomPere').val(),
      "telPortablePere":$('#telPortablePere').val(), "telFixePere":$('#telFixePere').val(),
      "addrPere":$('#addrPere').val(), "villePere":$('#villePere').val(), "codePostalePere":$('#codePostalePere').val(),
      //Mere
      "idPersonneMere":$('#idPersonneMere').val(), "nomMere":$('#nomMere').val(), "prenomMere":$('#prenomMere').val(), "telPortableMere":$('#telPortableMere').val(),
      "telFixeMere":$('#telFixeMere').val(), "addrMere":$('#addrMere').val(), "villeMere":$('#villeMere').val(),
      "codePostaleMere":$('#codePostaleMere').val()
    };
    $.ajax({
      type: 'POST',
      url: 'http://localhost/PhpServer/controller/parents/modif',
      contentType: 'application/json; charset=utf8',
      data: JSON.stringify(parents),
      traditional: true,
      success: function(data){
        alert('modifié !');
      }
    });
  });
  $('#retour').on('click', function() {
    window.location.href="http://localhost/PhpClient/licences.php";
  });
  </script>
