<div id="pannel-show">
  <table id="documents_table">
    <thead>
      <tr>
        <th>Pseudo</th>
        <th>Mail</th>
        <th>Droit</th>
        <th>Modifier</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>bouh!</td>
        <td>salut</td>
        <td>hola !</td>
        <td>bonchoir</td>
      </tr>
    </tbody>
</div>
<div id="panel-modif" class="hidden-md-up">
    <div class="form-group row">
			<label for="login" class="col-sm-2 col-form-label">Login</label>
				<div class="col-sm-10">
			    <input type="text" name="login" class="form-control" id="login" aria-describedby="emailHelp" val="text">
		    </div>
		</div>
    <div class="form-group row">
			<label for="mail" class="col-sm-2 col-form-label">Mail</label>
				<div class="col-sm-10">
			    <input type="text" name="mail" class="form-control" id="mail" aria-describedby="emailHelp" val="text">
		    </div>
		</div>
    <div class="form-group row">
			<label for="password" class="col-sm-2 col-form-label">Nouveau mot de passe</label>
				<div class="col-sm-10">
			    <input type="password" name="mail" class="form-control" id="password" aria-describedby="emailHelp" val="text">
		    </div>
		</div>
    <div class="form-group row">
			<label for="catPriv" class="col-sm-2 col-form-label">Privilege</label>
				<div class="col-sm-10">
					<select name="catPriv" id="catPriv">
					</select>
		    </div>
    </div>
</div>

  <script>
    $(document).ready(function() {
      var table = $('#documents_table');
      $('#documents_table').DataTable({
          "info":true,
          "paging": true,
          "searching": true,
          "pageLength": 10,
          "lengthChange": false
        });
        $.ajax({
          type: 'GET',
          url: "http://localhost/PhpServer/controller/users",
          traditional: true,
          success: function(data){
            table.DataTable().clear();
            data = JSON.parse(data);
            for (var x = 0; x < data.length; x++) {
                table.DataTable().row.add([
                  "<div log='login'>"+data[x].login_utilisateur+"</div>",
                  "<div mail='mail'>"+data[x].mail_utilisateur+"</div>",
                  data[x].libelle_privilege,
                  "<div id='idPriv' priv='"+data[x].id_privilege+"'><button><i class='fa fa-pencil-square-o fa-2x'></i></button></div>"
                ]).draw();
            }
          }
        });

        function getPriv()
        {
          $.ajax({
            type: 'GET',
            url: "http://localhost/PhpServer/controller/privs",
            traditional: true,
            success: function(data){
              data = JSON.parse(data);
              for(var i = 0; i < data.length; i++)
              {
                $('#catPriv').append('<option value="'+data[i].id_privilege+'">'+data[i].libelle_privilege+'</option>');
              }
            }
          });
        }
        
        $('body').on('click', '#idPriv', function(event) {
          event.preventDefault();
          //var idPriv = $(this).attr('priv');
          $('#pannel-show').addClass('hidden-md-up');
          $('#panel-modif').removeClass('hidden-md-up');
          //getPriv();
        });
      });
  </script>
</table>
