<div class="col-lg-6 col-md-12">
  <h2>Licenciés :</h2>
  <div id="licence-preview">
    <table id="licence-table" class="table table-hover">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Nom</th>
          <th>Prenom</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<a class="btn btn-outline-info" href="licences.php">Gérer les Licenciés</a>
<br><hr><br>
<div class="col-lg-6 col-md-12">

  <h2>Utilisateurs :</h2>
  <div id="user-preview">
    <table id="user-table" class="table table-hover">
      <thead>
        <tr>
          <th>Pseudo</th>
          <th>Mail</th>
          <th>Droit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<a class="btn btn-outline-info" href="utilisateurs.php">Gérer les utilisateurs</a>
<script>
$(document).ready(function() {

  var userTable = $('#user-table');
  var licenceTable = $('#licence-table');
  var idUser = null;
  var lastId;

  userTable.DataTable({
    "info":false,
    "paging": false,
    "pageLength": 10,
    "searching": false,
    "lengthChange": false
  });
  licenceTable.DataTable({
    "info":false,
    "paging": false,
    "searching": false,
    "pageLength": 10,
    "lengthChange": false
  });
  getUsers();
  $.ajax({
    type: 'GET',
    url: server+"saisons",
    traditional: true,
    success: function(data){
      data = JSON.parse(data);
      getLicences(data.length);
    }
  });
  function getUsers() {
    $.ajax({
      type: 'GET',
      url: server+"users",
      traditional: true,
      success: function(data){
        userTable.DataTable().clear();
        data = JSON.parse(data);
        for (var x = 0; x < data.length; x++) {
          userTable.DataTable().row.add([
            "<div log='login'>"+data[x].login_utilisateur+"</div>",
            "<div mail='mail'>"+data[x].mail_utilisateur+"</div>",
            data[x].libelle_privilege
          ]).draw();
        }
      }
    });
  }


  //fonction ajax qui selectionne un joueur par rapport à ça saison
  function getLicences(idsaison){
    $.ajax({
      type: 'GET',
      url: server+"joueurs/"+idsaison,
      traditional: true,
      success: function(data){
        licenceTable.DataTable().clear();
        data = JSON.parse(data);
        for (var x = 0; x < data.length; x++) {
          var id = data[x].id_joueur;
          lastId= data[x].id_joueur;
          getImage(id);
          licenceTable.DataTable().row.add([
            "<div id='div-photo-joueur-"+id+"'>"+
            "<div style='display:none' id='image_preview_"+id+"'><img id='previewing_"+id+"'/></div>"+
            "</div>",
            data[x].nom_personne,
            data[x].prenom_personne
          ]).draw();
        }
      }
    });
  }

  function getImage(idJoueur){
    $.ajax({
      type: 'GET',
      url: server+"joueur/"+idJoueur+"/img",
      traditional: true,
      success: function(data){
        data = JSON.parse(data);
        if (data != null) {
          var blob = b64toBlob(data.binaire_photo, data.imageType);
          var imageUrl = URL.createObjectURL(blob);
          $('#div-photo-joueur-'+idJoueur).html("<img id='photo-joueur-"+idJoueur+"' height='100px' width='auto'></img>");
          $('#photo-joueur-'+idJoueur).attr("src",imageUrl);
        }
      }
    });
  }
  function b64toBlob(b64Data, contentType, sliceSize){
    contentType = contentType || '';
    sliceSize = sliceSize || 512;
    var byteCharacters = atob(b64Data);
    var byteArrays = [];
    for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
      var slice = byteCharacters.slice(offset, offset + sliceSize);
      var byteNumbers = new Array(slice.length);
      for (var i = 0; i < slice.length; i++) {
        byteNumbers[i] = slice.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      byteArrays.push(byteArray);
    }
    var blob = new Blob(byteArrays, {type: contentType});
    return blob;
  }
});

</script>
