
  <div class="row">
  </div>
  <div class="row">


    <div class="col-md-6">
      <div class="form-group row">
        <div class="hidden-md-up" id="idFinance"></div>

        <label for="demandeAttFinancier" class="col-sm-6 col-form-label">Demande d'attestation</label>
        <div class="col-sm-6">
          <input value="text" id="demandeAttFinance" class="form-control">
        </div>
        <label for="demandeAttFinancier" class="col-sm-6 col-form-label">Demande de cotisation</label>
        <div class="col-sm-6">
          <input value="text" id="demandeCotiFinance" class="form-control">
        </div>
        <label for="demandeAttFinancier" class="col-sm-6 col-form-label">Numero de Cheque</label>
        <div class="col-sm-6">
          <input value="text" id="numChequeFinance" class="form-control">
        </div>
        <label for="demandeAttFinancier" class="col-sm-6 col-form-label">Depot Banque</label>
        <div class="col-sm-6">
          <input value="text" id="depotBanqueFinance" class="form-control">
        </div>
        <label for="demandeAttFinancier" class="col-sm-6 col-form-label">Note</label>
        <div class="col-sm-6">
          <!--input value="text" id="noteFinance" class="form-control"-->
          <textarea class="form-control" id="noteFinance" rows="3"></textarea>

        </div>
      </div>



      </div>

      <div class="col-md-6">
        <div class="card  mb-3 text-center" id="etat_finance">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <h1>Etat actuel du payement</h1>
              <div class="hidden-md-up" id="idEtatFinance"></div>
              <div class="form-group row">
                <label for="demandeAttFinancier" class="col-sm-6 col-form-label">Somme totale à payer</label>
                <div class="col-sm-6">
                  <input value="text" id="sommeApayer" class="form-control">
                </div>
                <label for="demandeAttFinancier" class="col-sm-6 col-form-label">Actuellement payé</label>
                <div class="col-sm-6">
                  <input value="text" id="sommePayer" class="form-control">
                </div>
                <div id="toto" class="hidden-md-up">
                  <label for="demandeAttFinancier" class="col-sm-6 col-form-label">Total restant à payer</label>
                  <div class="col-sm-6">
                    <input value="text" id="total">
                  </div>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 ">
        <button id="modif" class="btn btn-outline-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier</button>
      </div>
      <div class="col-sm-2 ">
        <button id="PDF" class="btn btn-outline-primary"><i class="fa fa-file-pdf-o"></i> Telecharger PDF </button>
      </div>
      <div class="col-sm-2 push-sm-6">
        <button id="retour" class="btn btn-outline-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</button>
      </div>
    </div>






    <script>

    $(document).ready(function(){
      //on récupère l'id
      var idJoueur = localStorage.getItem("finance");
      $('#nom_joueur').html(idJoueur);
      $.ajax({
        type:'GET',
        url: server+"joueur/"+idJoueur+"/finance",
        traditional: true,
        success: function(data){
          //petit traitement des données reçu en json afin de les parses
          var payement = data.substring(data.indexOf('paye1') + 5, data.indexOf('etat1'));
          var etatPayement = data.substring(data.indexOf('etat1') + 5);

          payement = JSON.parse(payement);
          etatPayement = JSON.parse(etatPayement);

          // INFO PAYEMENT
          $('#idFinance').html(payement[0].id_payement);
          $('#noteFinance').val(payement[0].noteFinanciere_payement);
          $('#demandeAttFinance').val(payement[0].demandeAttFinancier_payement);
          $('#demandeCotiFinance').val(payement[0].demandeDeCotiFinancier_payement);
          $('#numChequeFinance').val(payement[0].numChequeFinancier_payement);
          $('#depotBanqueFinance').val(payement[0].depotBanque_payement);

          // ETAT PAYEMENT
          $('#idEtatFinance').html(etatPayement[0].id_etatFinancier);
          $('#sommeApayer').val(etatPayement[0].sommeAPayer_payement);
          $('#sommePayer').val(etatPayement[0].sommePayer_payement);
          var différence = etatPayement[0].sommeAPayer_payement*1 - etatPayement[0].sommePayer_payement*1 ;
          $("#total").val(différence);
          if(différence == 0) {
            $("#etat_finance").addClass("card-outline-success");
            $('#toto').addClass('hidden-md-up');
          }else{
            $("#etat_finance").addClass("card-outline-warning");
            $("#toto").removeClass("hidden-md-up");
          }
        }
      });

      $('#PDF').on('click',function(){

        var noteFinance = $('#noteFinance').val();
        var demandeFinance = $('#demandeAttFinance').val();
        var demandeCotiFinance = $('#demandeCotiFinance').val();
        var numChequeFinance = $('#numChequeFinance').val();
        var depotBanqueFinance = $('#depotBanqueFinance').val();
        var sommeApayer = $('#sommeApayer').val();
        var sommePayer = $('#sommePayer').val();

        var doc = new jsPDF();
        doc.text(14,14,"-- INFORMATION ET ETAT DU PAIEMENT -- ");
        doc.text(14,30,"Note :"+ noteFinance);
        doc.text(14,45,"Demande d'attestation :"+ demandeFinance);
        doc.text(14,60,"Demande Cottisation : " + demandeCotiFinance);
        doc.text(14,75,"Numéro de chèque : "+ numChequeFinance);
        doc.text(14,90,"Depot en banque :"+ depotBanqueFinance);
        doc.text(14,105,"Somme à payer = "+ sommeApayer);
        doc.text(14,120,"Somme Payer Actuellement = "+ sommePayer);
        doc.save("Finance.pdf")
      });


      $('#modif').on('click', function() {
        var finance = {
          "idFinance":$('#idFinance').text(), "noteFinance":$('#noteFinance').val(),
          "demandeAttFinance":$('#demandeAttFinance').val(), "demandeCotiFinance":$('#demandeCotiFinance').val(),
          "numChequeFinance":$('#numChequeFinance').val(), "depotBanqueFinance":$('#depotBanqueFinance').val(),
          "idEtatFinance":$('#idEtatFinance').text(), "sommeApayer":$('#sommeApayer').val(), "sommePayer":$('#sommePayer').val()
        }
        $.ajax({
          type: 'PUT',
          url: server+"joueur/"+idJoueur+'/finance',
          contentType: 'application/json; charset=utf8',
          data: JSON.stringify(finance),
          traditional: true,
          success: function(data){
            alert(data);
          }
        });
      });

      $('#retour').on('click', function() {
        window.location.href="http://localhost/PhpClient/licences.php";
      });

    });
    </script>
