
<div id="loading" class="hidden-md-up"></div>


<script type="text/javascript">
var lastId;
var table = $('#documents_table');
$(document).ready(function(){
  //function ajax qui selectionne toutes les saisons et selectionne la dernière par défault
  $.ajax({
    type: 'GET',
    url: server+"saisons",
    traditional: true,
    success: function(data){
      data = JSON.parse(data);
      for (var i = 0; i < data.length; i++)
      {
        if(i !== data.length - 1)
        {
          $('#saisons').append('<option value="'+data[i].id_saison+'">'+data[i].annee_saison+'</option>');
        }
        else
        { //dernière valeur : on lance la fonction ajax qui va prendre la listes des joueurs en fonction de la saison
          //Pourquoi la dernière valeur ? car on ne veut pas la liste de joueur d'une saison passé, mais celle qui est présente
          $('#saisons').append('<option value="'+data[i].id_saison+'" selected="selected">'+data[i].annee_saison+'</option>');
        }

      }
      ajaxCall(data.length);
    }
  });


  //initialisation des options de datatable
  $('#documents_table').DataTable({
    "info":false,
    "paging": true,
    "searching": true,
    "pageLength": 25,
    "lengthChange": false,
    dom:'Bfrtip',
    buttons:[
      'copy' , 'csv' , 'excel' , 'pdf' , 'print'
    ]
  });
});

//fonction ajax qui selectionne un joueur par rapport à ça saison
function ajaxCall(idsaison){
  $.ajax({
    type: 'GET',
    url: server+"joueurs/"+idsaison,
    traditional: true,
    //avant le sucess, un petit loading tout zolie
    beforeSend: function() {
      $('#loading').removeClass('hidden-md-up');
      $('#loading').html('<p class="text-center" id="load"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>');
    },
    success: function(data){
      $('#loading').addClass('hidden-md-up');
      $('#documents_table').removeClass('hidden-md-up');
      //clear de la table de valeurs précèdente
      table.DataTable().clear();
      data = JSON.parse(data);
      for (var x = 0; x < data.length; x++) {
        var id = data[x].id_joueur;
        lastId= data[x].id_joueur;
        paiementComplet(id);
        getImage(id);
        table.DataTable().row.add([
          "<button id='more' class='btn btn-outline-info btn-sm' id='more' value="+id+"><i class='fa fa-plus' aria-hidden='true'></i> info</button> ",
          "<div id='div-photo-joueur-"+id+"'>"+
            "<div style='display:none' id='image_preview_"+id+"'><img id='previewing_"+id+"'/></div>"+
            "<button id='btn-add-img' class='btn btn-sm btn-outline-success'><i class='fa fa-plus' aria-hidden='true'></i> Ajouter une photo</button>"+
            "<form id='frm-uploadimage-"+id+"' action='' class='frm-uploadimage "+id+"' method='post' enctype='multipart/form-data'>"+
              "<div id='image_preview "+id+"'><img id='previewing'/></div>"+
              "<input type='file' name='file' id='file' joueur='"+id+"' required/> "+
              "<input name='joueur' style='display:none' value='"+id+"'/> "+
              "<input type='submit' name='submit' class='btn btn-sm btn-outline-success'/>"+
              "</div>"+
            "</form>"+
          "</div>",
          data[x].nom_personne,
          data[x].prenom_personne,
          data[x].mail1_joueur,
          "<div  value="+ data[x].id_pere + "+" + data[x].id_mere + "><div id='parents'><button class='btn btn-outline-info btn-sm' class=''><i class='fa fa-users' aria-hidden='true'></i> Parents</button></div></div>",
          "<div   value="+id +"><div id='licence'><button class='btn btn-outline-info btn-sm' class=''><i class='fa fa-id-card-o' aria-hidden='true'></i> Licence</button></div></div>",
          "<div   value="+id +"><div id='finance'><button id='btn-finance-"+id+"' class='btn btn-sm' class=''><i class='fa fa-eur' aria-hidden='true'></i> Finance</button></div></div>",
          "<div  value="+ id +"><div id='supp'><button class='btn btn-outline-danger btn-sm' class=''><i class='fa fa-times-circle aria-hidden='true'></i> Supprimer</button></div></div>"
        ]).draw();
        $('#frm-uploadimage-'+id).hide();
        $('#frm-uploadimage-'+id).on('submit',(function(e) {
          var thisId = 0;
          for(var i=0;i<lastId;i++){
            if($(this).hasClass(i)){
              thisId=i;
            }
          }
          var surl = server+"joueur/"+thisId+"/img";
          alert(surl);
          e.preventDefault();
          $.ajax({
            url: surl,                // Url to which the request is send
            type: "POST",             // Type of request to be send, called as method
            data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
            contentType: false,       // The content type used when sending data to the server.
            cache: false,             // To unable request pages to be cached
            processData:false,        // To send DOMDocument or non processed data file it is set to false
            success : function(data){
              alert(data);
            }
          });
        }));
      }
    }
  });
}

$('body').on('click', '#btn-add-img', function(){
  $(this).next().toggle();
});

$("#file").change(function() {
  alert("change");
  var file = this.files[0];
  var imagefile = file.type;
  var reader = new FileReader();
  reader.onload = imageIsLoaded;
  reader.readAsDataURL(this.files[0]);
});

function imageIsLoaded(e) {
  id = $(this).attr(joueur);
  alert(id);
  $("this").css("color","green");
  $('#image_preview_'+id).css("display", "block");
  $('#previewing_'+id).attr('src', e.target.result);
  $('#previewing_'+id).attr('width', '250px');
  $('#previewing_'+id).attr('height', '230px');
};

// fonction qui change la couleur du bouton en fonction de l'état du payement
function paiementComplet(idJoueur){
  $.ajax({
    type: 'GET',
    url: server+"joueur/"+idJoueur+"/paiement_complet",
    traditional: true,
    success: function(data){
      try {
        data = JSON.parse(data);
      } catch(e) {
        alert("FAIL")
        alert(e); // error in the above string (in this case, yes)!
      }
      if(data[0].paiementComplet_payement==1){
        $('#btn-finance-'+idJoueur).addClass("btn-outline-info");
      }
      else {
        $('#btn-finance-'+idJoueur).addClass("btn-outline-warning");

      }
    }
  });
}

//récupère une image depuis l'API
function getImage(idJoueur){
  $.ajax({
    type: 'GET',
    url: server+"joueur/"+idJoueur+"/img",
    traditional: true,
    success: function(data){
      data = JSON.parse(data);

      if (data!== null) {
        var blob = b64toBlob(data.binaire_photo, data.imageType);
        var imageUrl = URL.createObjectURL(blob);
        $('#div-photo-joueur-'+idJoueur).html("<img id='photo-joueur-"+idJoueur+"' height='100px' width='auto'></img>");
        $('#photo-joueur-'+idJoueur).attr("src",imageUrl);
      }
    }
  });
}

//event par rapport aux saisons, dès un changement de valeur, il y a un nouveau call d'ajax avec la liste de jour de la saison selectionner
$('body').on('change', '#saisons', function() {
  ajaxCall($(this).val());
});

//event pour le bouton info supp du joueur récupère l'id de la personne joueur et le stock dans localStorage
$('body').on('click', '#more', function() {
  var idJoueur = $(this).attr('value');
  localStorage.setItem("idJoueur", idJoueur);
  window.location.href="http://localhost/PhpClient/info_joueur.php";
});

//event pour le bouton parents récupère l'id du père et de la mère et les stock dans localStorage
$('body').on('click', '#parents', function() {
  var idparents = $(this).parent().attr('value');
  localStorage.setItem("idparents",idparents);
  window.location.href = "http://localhost/PhpClient/info_parents.php";
});

//event pour le bouton licence
$('body').on('click','#licence',function(){
  var idLicence = $(this).parent().attr('value');
  localStorage.setItem("idLicence",idLicence);
  window.location.href="http://localhost/PhpClient/info_licence.php";
});

//event pour le bouton finance et récupère l'id du joueur et le stock dans localStorage
$('body').on('click', '#finance', function(){
  var idJoueur = $(this).parent().attr('value');
  localStorage.setItem("finance", idJoueur);
  window.location.href="http://localhost/PhpClient/info_finance.php";
});

//event pour le bouton supprimer
$('body').on('click',"#supp",function(){
  table.DataTable().clear();
  var idsJoueur = $(this).parent().attr('value');
  $.ajax({
    type:'DELETE',
    url: server+"joueur/"+idsJoueur,
    traditional: true,
    success:function(data){
      alert(data);
      ajaxCall(1);
      table.DataTable().clear();
    }

  });
});
//convertir la string base64 en blob pour réstituer l'image
function b64toBlob(b64Data, contentType, sliceSize)
{
  contentType = contentType || '';
  sliceSize = sliceSize || 512;
  var byteCharacters = atob(b64Data);
  var byteArrays = [];
  for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
    var slice = byteCharacters.slice(offset, offset + sliceSize);
    var byteNumbers = new Array(slice.length);
    for (var i = 0; i < slice.length; i++) {
      byteNumbers[i] = slice.charCodeAt(i);
    }
    var byteArray = new Uint8Array(byteNumbers);
    byteArrays.push(byteArray);
  }
  var blob = new Blob(byteArrays, {type: contentType});
  return blob;
}




</script>


<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https:////cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>
