<div class="container">
  <div class="row">
    <div id="idPersonneJoueur" class="hidden-md-up"></div>
    <div id="idJoueur" class="hidden-md-up"></div>
    <div class="col-lg-4 col-md-12">
      <div id='div-photo-joueur'>
        <div stle='display:none' id='image_preview'><img id='previewing'/></div>
        <button id='btn-add-img' class='btn btn-sm btn-outline-success'><i class='fa fa-plus' aria-hidden='true'></i> Ajouter une photo</button>
        <form id='uploadimage' action='' class='uploadimage' method='post' enctype='multipart/form-data'>
          <div id='image_preview"'><img id='previewing'/></div>
          <input type='file' name='file' id='file' required/>
          <br>
          <input type='submit' name='submit' class='btn btn-sm btn-outline-success'/>
        </form>
      </div>
      <br>
      <button id="PDF" class="btn btn-outline-primary"><i class="fa fa-file-pdf-o"></i> Telecharger PDF</button>

    </div>
<br>
    <div class="col-lg-8 col-md-12">
      <div class="form-group row">
        <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
          <input value="text" id="nomJoueur"class="form-control">
        </div>
        <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Prenom</label>
        <div class="col-sm-10">
          <input value="text" id="prenomJoueur"class="form-control">
        </div>
        <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Tel Portable</label>
        <div class="col-sm-10">
          <input class="form-control" value="text" id="telPortableJoueur">
        </div>
        <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Tel Fixe</label>
        <div class="col-sm-10">
          <input class="form-control" value="text" id="telFixeJoueur">
        </div>
        <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Adresse</label>
        <div class="col-sm-10">
          <input class="form-control" value="text" id="adresseJoueur">
        </div>
        <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Ville</label>
        <div class="col-sm-10">
          <input class="form-control" value="text" id="villeJoueur">
        </div>
        <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Code Postal</label>
        <div class="col-sm-10">
          <input class="form-control" value="text" id="cpJoueur">
        </div>
        <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Mail 1</label>
        <div class="col-sm-10">
          <input class="form-control" value="text" id="mail1Joueur">
        </div>
        <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Mail 2</label>
        <div class="col-sm-10">
          <input class="form-control" value="text" id="mail2Joueur">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 ">
    </div>
    <div class="col-sm-2 ">
      <button id="modif" class="btn btn-outline-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier</button>
    </div>
    <div class="col-sm-2 push-sm-6">
      <button id="retour" class="btn btn-outline-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</button>
    </div>
  </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script>
$(document).ready(function() {
  var idJoueur = localStorage.getItem("idJoueur");
  $('#nom_joueur').html(idJoueur);
  $('.uploadimage').hide();

  $.ajax({
    type: 'GET',
    url: server+"joueur/"+idJoueur,
    traditional: true,
    success: function(data){
      data = JSON.parse(data);
      //les ids de joueur et personne
      $('#idPersonneJoueur').html(data[0].id_personne);
      $('#idJoueur').html(data[0].id_joueur);
      //les données de joueur et personne
      $('#nomJoueur').val(data[0].nom_personne);
      $('#prenomJoueur').val(data[0].prenom_personne);
      $('#telPortableJoueur').val(data[0].telPortable_personne);
      $('#telFixeJoueur').val(data[0].telFixe_personne);
      $('#adresseJoueur').val(data[0].adresse_personne);
      $('#villeJoueur').val(data[0].ville_personne);
      $('#cpJoueur').val(data[0].codePostale_personne);
      $('#mail1Joueur').val(data[0].mail1_joueur);
      $('#mail2Joueur').val(data[0].mail2_joueur);

    }
  });

  $.ajax({
    type: 'GET',
    url: server+"joueur/"+idJoueur+"/img",
    traditional: true,
    success: function(data){
      data = JSON.parse(data);
      if(data !== null) {
        var blob = b64toBlob(data.binaire_photo, data.imageType);
        var imageUrl = URL.createObjectURL(blob);
        $('#div-photo-joueur').html("<img id='photo-joueur' height='100px' width='auto'></img><br><button id='delete-img' class='btn btn-sm btn-outline-danger'><i class='fa fa-times-circle' aria-hidden='true'></i> Supprimer</button>");
        $('#photo-joueur').attr("src",imageUrl);
      }
    }
  });
  $('body').on('click', '#btn-add-img', function(){
    $(this).next().toggle();
  });
  $('#PDF').on('click',function(){
    var nom = $('#nomJoueur').val();
    var prenom = $('#prenomJoueur').val();
    var portable = $("#telPortableJoueur").val();
    var telephone = $("#telFixeJoueur").val();
    var adresseJoueur = $("#adresseJoueur").val();
    var villeJoueur = $("#villeJoueur").val();
    var codepostaleJoueur = $("#cpJoueur").val();
    var mail1Joueur = $("#mail1Joueur").val();
    var mail2Joueur = $("#mail2Joueur").val();
    var doc = new jsPDF();
    doc.text(14,14,"-- INFORMATION SUPPLEMENTAIRE SUR LE JOUEUR -- ");
    doc.text(14, 30, 'Nom : '+ nom );
    doc.text(14, 45, 'Prenom : '+ prenom );
    doc.text(14, 60, 'Numéro de portable : '+ portable );
    doc.text(14, 75, 'Numéro fixe : '+ telephone );
    doc.text(14, 90, 'Adresse : '+ adresseJoueur );
    doc.text(14, 105, 'Ville: '+ villeJoueur );
    doc.text(14, 120, 'Code Postale : '+ codepostaleJoueur );
    doc.text(14, 135, 'Adresse email : '+ mail1Joueur );
    doc.text(14, 150, 'Adresse email supplémentaire : '+ mail2Joueur);
    doc.save("joueur.pdf");
  });


  $('#modif').on('click', function() {
    joueur = {
      "idPersonneJoueur":$('#idPersonneJoueur').text(), "idJoueur":$('#idJoueur').text(),
      "nomJoueur":$('#nomJoueur').val(), "prenomJoueur":$('#prenomJoueur').val(),
      "telPortableJoueur":$('#telPortableJoueur').val(), "telFixeJoueur":$('#telFixeJoueur').val(),
      "adresseJoueur":$('#adresseJoueur').val(), "villeJoueur":$('#villeJoueur').val(),
      "cpJoueur":$('#cpJoueur').val(), "mail1Joueur":$('#mail1Joueur').val(),
      "mail2Joueur":$('#mail2Joueur').val()
    }
    $.ajax({
      type: 'PUT',
      url: server+"joueur/"+idJoueur,
      contentType: 'application/json; charset=utf8',
      data: JSON.stringify(joueur),
      traditional: true,
      success: function(data){
        alert(data);
      }
    });
  });

  $('#retour').on('click', function() {
    window.location.href="http://localhost/PhpClient/licences.php";
  });


  $('body').on('click', '#delete-img', function(){
    $.ajax({
      type: 'DELETE',
      url: server+"joueur/"+idJoueur+"/img",
      traditional: true,
      success: function(data){
        alert(data);
      }
    });
  });

  function b64toBlob(b64Data, contentType, sliceSize){
    contentType = contentType || '';
    sliceSize = sliceSize || 512;
    var byteCharacters = atob(b64Data);
    var byteArrays = [];
    for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
      var slice = byteCharacters.slice(offset, offset + sliceSize);
      var byteNumbers = new Array(slice.length);
      for (var i = 0; i < slice.length; i++) {
        byteNumbers[i] = slice.charCodeAt(i);
      }
      var byteArray = new Uint8Array(byteNumbers);
      byteArrays.push(byteArray);
    }
    var blob = new Blob(byteArrays, {type: contentType});
    return blob;
  }

});
</script>
