<div class="container">
<div class="row">
	<h1>Inscription</h1>
</div>
<div class="row">
	<input type="text" placeholder="Votre Login..." name="login" id="mail"/>
</div>
<div class="row">
	<input type="password" placeholder="Votre mot de passe..." name="password" id="password"/>
</div>
<div class="row">
	<input type="mail" placeholder="Votre email..." name="email" id="email"/>
</div>
</div>
