
<div class="hidden-md-up" id="idlicence"></div>
<div class="form-goup row">
  <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Note</label>
  <input type="text" class="form-control col-md-10" id="notesLicence">
  <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Date</label>
  <input type="date" class="form-control col-md-10" id="datelicence">
  <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Catégorie</label>
  <input type="text" class="form-control col-md-10" id="catLicence">
  <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Dirigeant</label>
  <input type="text" class="form-control col-md-10" id="dirigeantLicence">
  <label for="demandeAttFinancier" class="col-sm-2 col-form-label">inscrit à la newsletter</label>
  <input type="text" class="form-control col-md-10" id="inscrisNewLetterLicence">
  <label for="demandeAttFinancier" class="col-sm-2 col-form-label">licenceDisctrictDispoLicence</label>
  <input type="text" class="form-control col-md-10" id="licenceDisctrictDispoLicence">
  <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Formation</label>
  <input type="text" class="form-control col-md-10" id="formationlicence">
  <label for="demandeAttFinancier" class="col-sm-2 col-form-label">Renouvellement</label>
  <input type="text" class="form-control col-md-10" id="renouvLicence">
</div>
<div class="row">
  <div class="col-sm-2">
    <button id="modif" class="btn btn-outline-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier</button>

  </div>
  <div class="col-sm-2 push-sm-8">
    <button id="retour" class="btn btn-outline-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</button>
  </div>
</div>

<script>
$(document).ready(function(){
  var idJoueur = localStorage.getItem("idJoueur");
  $('#nom_joueur').html(idJoueur);
  var idLicence= localStorage.getItem("idLicence");
  $.ajax({
    type:'GET',
    url: server+"joueur/"+idLicence+"/licence",
    traditional: true,
    success: function(data){
      //  alert(data);

      data = JSON.parse(data);

      $('#idlicence').html(data[0].id_licence)
      $('#notesLicence').val(data[0].notes_licence);
      $('#datelicence').val(data[0].date_licence);
      $('#catLicence').val(data[0].cat_licence);
      $('#dirigeantLicence').val(data[0].dirigeant_licence);
      $('#inscrisNewLetterLicence').val(data[0].inscrisNewLetter_licence);
      $('#licenceDisctrictDispoLicence').val(data[0].licenceDistrictDispo_licence);
      $('#formationlicence').val(data[0].formation_licence);
      $('#renouvLicence').val(data[0].renouv_licence);
    }
  });

  $('#modif').on('click',function(){

    var licence = {
      "idlicence":$('#idlicence').text(),
      "notesLicence":$('#notesLicence').val(),"datelicence":$('#datelicence').val(),
      "catLicence":$('#catLicence').val(),"dirigeantLicence":$('#dirigeantLicence').val(),
      "inscrisNewLetterLicence":$('#inscrisNewLetterLicence').val(),"licenceDisctrictDispoLicence":$('#licenceDisctrictDispoLicence').val(),
      "formationlicence":$('#formationlicence').val(),"renouvLicence":$('#renouvLicence').val()
    }

    $.ajax({
      type:'put',
      url: server+"joueur/"+idLicence+"/licence",
      contentType: 'application/json; charset=utf8',
      data: JSON.stringify(licence),
      traditional:true,
      success: function(data){
        alert(data);
      }
    });
  });

  $('#retour').on('click', function() {
    window.location.href="http://localhost/PhpClient/licences.php";
  });

});
</script>
</body>
</html>
