<div class="row">
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-3">Connexion</h1>
		<p class="lead">Rentrez vos informations dans les champs ci dessous.</p>
		<div class="form-group row">
			<div class="col-sm-10">
				<input type="text" id="login" name="login" class="form-control"  aria-describedby="emailHelp" placeholder="Identifiant ou email">
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<input type="password" id="password" name="pass" class="form-control"  aria-describedby="emailHelp" placeholder="Mot de passe">
			</div>
		</div>
		<button id="connection" class="btn btn-outline-success">Connexion</button>
	</div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#connection').click(function(){
		ajaxCall();
	});

	$('body').keydown(function(e) {
		if(e.keyCode == 13) {
			ajaxCall();
		}
	})

	function ajaxCall(){
		user = {
			"login":$('#login').val(), "password":$('#password').val()
		}
		$.ajax({
			type: "POST",
			url: server+"user/connection",
			contentType: 'application/json; charset=utf8',
			data: JSON.stringify(user),
			traditional: true,
			success: function(data){
				var dataString = "data="+data;
				$.ajax({
					type: "POST",
					url: "http://localhost/PhpClient/droits.php",
					data: dataString,
					success: function(data){
						if(data.indexOf("good") >= 0)
						{
							data = data.substring(4);
							localStorage.setItem("idright", data);

							window.location.href = "http://localhost/PhpClient/";
						} else {
							alert('Mauvais identifiant/mot de passe');
						}
					}
				});
			}
		});
	}

});
</script>
<div id="result"></div>
