<div class="form-group row">
  <label for="from"  class="col-sm-2 col-form-label">From</label>
  <div class="col-sm-8">
  <input type="text" name="from" class="form-control" id="from" aria-describedby="emailHelp" placeholder="Votre email">
  </div>
</div>
<div class="form-group row">
  <label for="subject"  class="col-sm-2 col-form-label">Subject :</label>
  <div class="col-sm-8">
  <input type="text" name="subject" class="form-control" id="subject" aria-describedby="emailHelp" placeholder="Sujet du mail">
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-10">
    <textarea rows="10" cols="100" name="comment" form="usrform" id="message">
    Ecrivez le mail...</textarea>
  </div>
</div>
<button class="btn btn-outline-success"role="button" id="send"><i class="fa fa-paper-plane" aria-hidden="true"></i> Envoyer</button>

<script>
$(document).ready(function() {
  $('#send').on('click', function() {
    var email = {
      "from":$('#from').val(), "subject":$('#subject').val(), "message":$('#message').val()
    }

    $.ajax({
      type: 'POST',
      url: 'http://localhost/PhpServer/controller/mail/send',
      contentType: 'application/json; charset=utf8',
      data: JSON.stringify(email),
      traditional: true,
      success: function(data){
        alert("mail envoyé !");
      }
    });

  });
});

</script>
