
<div class="container">
  <div id="pannel-parents-1" class="row">
    <div class="hidden-md-up"><input id="idPersonnePere"></div>
    <div class="hidden-md-up"><input id="idPersonneMere"></div>
    <div class="col-md-6">
      <h2>Pere</h2>
      <div class="form-group row">
        <label for="demandeAttFinancier" class="col-md-6 col-form-label">Nom</label>
        <input value="text" class="form-control col-md-6 col-md-6" id="nomPere">
        <label for="demandeAttFinancier" class="col-md-6 col-form-label">Prenom</label>
        <input value="text" class="form-control col-md-6" id="prenomPere">
        <label for="demandeAttFinancier" class="col-md-6 col-form-label">Tel Portable</label>
        <input value="text" id="telPortablePere" class="form-control col-md-6" >
        <label for="demandeAttFinancier" class="col-md-6 col-form-label">Tel Fixe</label>
        <input value="text" id="telFixePere" class="form-control col-md-6" >
        <label for="demandeAttFinancier" class="col-md-6 col-form-label">Adresse</label>
        <input value="text" id="addrPere" class="form-control col-md-6" >
        <label for="demandeAttFinancier" class="col-md-6 col-form-label">Ville</label>
        <input value="text" id="villePere" class="form-control col-md-6" >
        <label for="demandeAttFinancier" class="col-md-6 col-form-label">Code Postal</label>
        <input value="text" id="codePostalePere" class="form-control col-md-6" >
      </div>
    </div>

    <div class="col-md-6">
      <h2>Mere</h2>
      <div class="form-group row">
        <label for="demandeAttFinancier" class="col-md-6 col-form-label">Nom</label>
        <input value="text" id="nomMere" class="form-control col-md-6" >
        <label for="demandeAttFinancier" class="col-md-6 col-form-label">Prenom</label>
        <input value="text" id="prenomMere" class="form-control col-md-6" >
        <label for="demandeAttFinancier" class="col-md-6 col-form-label">Tel Portable</label>
        <input value="text" id="telPortableMere" class="form-control col-md-6" >
        <label for="demandeAttFinancier" class="col-md-6 col-form-label">Tel Fixe</label>
        <input value="text" id ="telFixeMere" class="form-control col-md-6" >
        <label for="demandeAttFinancier" class="col-md-6 col-form-label">Adresse</label>
        <input value="text" id="addrMere" class="form-control col-md-6" >
        <label for="demandeAttFinancier" class="col-md-6 col-form-label">Ville</label>
        <input value="text" id="villeMere" class="form-control col-md-6" >
        <label for="demandeAttFinancier" class="col-md-6 col-form-label">Code Postal</label>
        <input value="text" id="codePostaleMere" class="form-control col-md-6" >
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 ">
    <button class="btn btn-outline-primary" id="modif"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier</button>
  </div>
  <div class="col-sm-2 push-sm-8">
    <button id="retour" class="btn btn-outline-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Retour</button><br>
  </div>
</div>
  <script>
  $(document).ready(function(){
    var idparents = localStorage.getItem("idparents");
    var idPersonneJoueur = localStorage.getItem("idPersonneJoueur");
    var idJoueur = localStorage.getItem("idJoueur");

    $('#nom_joueur').html(idJoueur);
    $.ajax({
      type: 'GET',
      url: server+"parents/" + idparents,
      traditional: true,
      success: function(data){
        var pere = data.substring(data.indexOf('pere') + 4, data.indexOf('mere'));
        var mere = data.substring(data.indexOf('mere') + 4);
        pere = JSON.parse(pere);
        mere = JSON.parse(mere);

        //Pere
        $('#idPersonnePere').val(pere[0].id_personne);
        $('#nomPere').val(pere[0].nom_personne);
        $('#prenomPere').val(pere[0].prenom_personne);
        $('#telPortablePere').val(pere[0].telPortable_personne);
        $('#telFixePere').val(pere[0].telFixe_personne);
        $('#addrPere').val(pere[0].adresse_personne);
        $('#villePere').val(pere[0].ville_personne);
        $('#codePostalePere').val(pere[0].codePostale_personne);

        //Mere
        $('#idPersonneMere').val(mere[0].id_personne);
        $('#nomMere').val(mere[0].nom_personne);
        $('#prenomMere').val(mere[0].prenom_personne);
        $('#telPortableMere').val(mere[0].telPortable_personne);
        $('#telFixeMere').val(mere[0].telFixe_personne);
        $('#addrMere').val(mere[0].adresse_personne);
        $('#villeMere').val(mere[0].ville_personne);
        $('#codePostaleMere').val(mere[0].codePostale_personne);
      }
    });
  });

  $('#modif').on('click', function(){
    var parents = {
      //pere
      "idPersonnePere":$('#idPersonnePere').val(), "nomPere":$('#nomPere').val(), "prenomPere":$('#prenomPere').val(),
      "telPortablePere":$('#telPortablePere').val(), "telFixePere":$('#telFixePere').val(),
      "addrPere":$('#addrPere').val(), "villePere":$('#villePere').val(), "codePostalePere":$('#codePostalePere').val(),
      //Mere
      "idPersonneMere":$('#idPersonneMere').val(), "nomMere":$('#nomMere').val(), "prenomMere":$('#prenomMere').val(), "telPortableMere":$('#telPortableMere').val(),
      "telFixeMere":$('#telFixeMere').val(), "addrMere":$('#addrMere').val(), "villeMere":$('#villeMere').val(),
      "codePostaleMere":$('#codePostaleMere').val()
    };
    $.ajax({
      type: 'PUT',
      url: server+'parents',
      contentType: 'application/json; charset=utf8',
      data: JSON.stringify(parents),
      traditional: true,
      success: function(data){
        alert("modifié");
      }
    });
  });
  $('#retour').on('click', function() {
    window.location.href="http://localhost/PhpClient/licences.php";
  });
  </script>
