<div id="panel-show">
  <table id="documents_table">
    <thead>
      <tr>
        <th>Pseudo</th>
        <th>Mail</th>
        <th>Droit</th>
        <th>Modifier</th>
        <th>Suprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-outline-success" id="add" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter un utilisateur</button>
</div>





<div id ="panel-ajouter" class="hidden-md-up">
  <div class="form-group row">
    <label for="newlogin" class="col-sm-2 col-form-label">Login</label>
      <div class="col-sm-10">
        <input type="text" name="newlogin" class="form-control" id="newlogin" aria-describedby="emailHelp" placeholder="Indiquer un login">
      </div>
  </div>
  <div class="form-group row">
    <label for="newmail" class="col-sm-2 col-form-label">Mail</label>
      <div class="col-sm-10">
        <input type="mail" name="newmail" class="form-control" id="newmail" aria-describedby="emailHelp" placeholder="Indiquer une addresse mail valide">
      </div>
  </div>
  <div class="form-group row">
    <label for="newpassword" class="col-sm-2 col-form-label">Mot de passe</label>
      <div class="col-sm-10">
        <input type="password" name="newpassword" class="form-control" id="newpassword" aria-describedby="emailHelp" placeholder="Indiquer le mot de passe">
      </div>
  </div>
  <div class="form-group row">
    <label for="catPriv" class="col-sm-2 col-form-label">Privilege</label>
      <div class="col-sm-10">
        <select name="catPriv" id="newcatPriv">
        </select>
      </div>
  </div>
  <button id="ajouter" class="btn btn-outline-success"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</button><br>
  <button id="returntomainpanelfromadd" class="btn btn-outline-primary"><i class="fa fa-arrow-circle-left"></i> Retour</button>
</div>







<div id="panel-modif" class="hidden-md-up">
    <div class="form-group row">
			<label for="login" class="col-sm-2 col-form-label">Login</label>
				<div class="col-sm-10">
			    <input type="text" name="login" class="form-control" id="login" aria-describedby="emailHelp" value="text">
		    </div>
		</div>
    <div class="form-group row">
			<label for="mail" class="col-sm-2 col-form-label">Mail</label>
				<div class="col-sm-10">
			    <input type="text" name="mail" class="form-control" id="mail" aria-describedby="emailHelp" value="text">
		    </div>
		</div>
    <div class="form-group row">
			<label for="password" class="col-sm-2 col-form-label">Nouveau mot de passe</label>
				<div class="col-sm-10">
			    <input type="password" name="mail" class="form-control" id="password" aria-describedby="emailHelp" value="text">
		    </div>
		</div>
    <div class="form-group row">
			<label for="catPriv" class="col-sm-2 col-form-label">Privilege</label>
				<div class="col-sm-10">
					<select name="catPriv" id="catPriv">
					</select>
		    </div>
    </div>
    <button id="modifier" class="btn btn-outline-success"><i class="fa fa-refresh" aria-hidden="true"></i> Modifier</button><br>
    <button id="returntomainpanelfromupdate" class="btn btn-outline-primary"><i class="fa fa-arrow-circle-left"></i> Retour</button>

</div>

  <script>
    $(document).ready(function() {
      var table = $('#documents_table');
      var idUser = null;
      $('#documents_table').DataTable({
          "info":false,
          "paging": true,
          "searching": true,
          "pageLength": 10,
          "lengthChange": false
        });
        getUsers();



        $('body').on('click', '#idUser', function(event) {
          event.preventDefault();
          idUser = $(this).attr('priv');
          $('#panel-show').addClass('hidden-md-up');
          $('#panel-modif').removeClass('hidden-md-up');
          getPriv("#catPriv");
          getUser(idUser);
        });

        $('#returntomainpanelfromupdate').on('click', function(){
          $('#panel-modif').addClass('hidden-md-up');
          $('#panel-show').removeClass('hidden-md-up');
          table.DataTable().clear();
          getUsers();
        });

        $('#modifier').on('click', function(){
          modifUser(idUser);
        });

        $('#add').on('click', function() {
          $('#panel-show').addClass('hidden-md-up');
          $('#panel-ajouter').removeClass('hidden-md-up');
          getPriv("#newcatPriv");
        });

        $('#returntomainpanelfromadd').on('click', function(){
          $('#panel-ajouter').addClass('hidden-md-up');
          $('#panel-show').removeClass('hidden-md-up');
        });

        $('#ajouter').on('click', function(){
          addUser();
          $('#panel-ajouter').addClass('hidden-md-up');
          $('#panel-show').removeClass('hidden-md-up');
          table.DataTable().clear();
          getUsers();
        });

        $('body').on('click', '#supprimer', function() {
          idUser = $(this).attr('idUser');
          deleteUser(idUser);

          /* petit test de sweetalert assez broken pour le moment :D
          swal({
            title: "Error!",
            text: "Here's my error message!",
            type: "error",
            confirmButtonText: "Cool"
          });*/
        });

        function getUsers() {
          $.ajax({
            type: 'GET',
            url: server+"users",
            traditional: true,
            success: function(data){
              table.DataTable().clear();
              data = JSON.parse(data);
              for (var x = 0; x < data.length; x++) {
                  table.DataTable().row.add([
                    "<div log='login'>"+data[x].login_utilisateur+"</div>",
                    "<div mail='mail'>"+data[x].mail_utilisateur+"</div>",
                    data[x].libelle_privilege,
                    "<div id='idUser' priv='"+data[x].id_utilisateur+"'><button class='btn btn-outline-info' id='modifier'><i class='fa fa-pencil-square-o fa-1x'></i> Modifier</button></div>",
                    "<button id='supprimer' class='btn btn-outline-danger' idUser='"+data[x].id_utilisateur+"'><i class='fa fa-times-circle fa-1x' aria-hidden='true'></i> Suppimer</button>",
                  ]).draw();
              }
            }
          });
        }

        function getUser(id)
        {
          $.ajax({
            type: 'GET',
            url: server+"user/"+id,
            traditional: true,
            success: function(data){
              data = JSON.parse(data);
              for(var i = 0; i < data.length; i++)
              {
                $('#login').val(data[i].login_utilisateur);
                $('#mail').val(data[i].mail_utilisateur);
                $('#password').val(data[i].password_utilisateur);
              }
            }
          });
        }

        function getPriv(idDiv)
        {
          $.ajax({
            type: 'GET',
            url: server+"users/privs",
            traditional: true,
            success: function(data){
              data = JSON.parse(data);
              $(idDiv).html("");
              for(var i = 0; i < data.length; i++)
              {
                $(idDiv).append('<option value="'+data[i].id_privilege+'">'+data[i].libelle_privilege+'</option>');
              }
            }
          });
        }

        function modifUser(id)
        {
          var user = {
            "idUser":id, "login":$('#login').val(), "mail":$('#mail').val(), "password":$('#password').val(),
            "catPriv":$('#catPriv').val()
          }
          $.ajax({
            type: 'PUT',
    				url: server+'user/'+id,
    				contentType: 'application/json; charset=utf8',
    				data: JSON.stringify(user),
    				traditional: true,
            success: function(data){
              alert(data);
            }
          });
        }

        function addUser()
        {
          var add = {
            "login":$('#newlogin').val(), "mail":$('#newmail').val(), "password":$('#newpassword').val(), "catPriv":$('#newcatPriv').val()
          }
          $.ajax({
            type: 'POST',
            url: server+'user',
            contentType: 'application/json; charset=utf8',
    				data: JSON.stringify(add),
    				traditional: true,
            success: function(data){
              table.DataTable().clear();
              getUsers();
            }
          });

        }

        function deleteUser(id)
        {
          $.ajax({
            type: 'DELETE',
            url: server+'user/'+id,
            contentType: 'application/json; charset=utf8',
    				data: JSON.stringify(add),
    				traditional: true,
            success: function(data)
            {
              table.DataTable().clear();
              getUsers();
            }
          });
        }
      });
  </script>
</table>
