/* enfin un fichier css*/
body{
  margin-bottom: 100px;
}
footer{
  margin-bottom: -100px;
  height: 100px;
 position: absolute;
 bottom: 0;
 background-color: #F7F7F7;
 clear: both;
 width: 100%;
 padding: 10px;
}
